

body,
html {
    font-family: 'Poppins', sans-serif;
    background: rgb(32, 32, 32);
}

img {
    max-width: 100%;
    height: auto;
}

/* Header CSS Start */

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem #dc3545 ;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

  }

.dropdown-menu {
    margin: 0;
    padding: 0;
    border-radius: 1rem;
    border: 0;
    background-color: rgb(32, 32, 32);
}

.dropdown-item:active, 
.dropdown-item:hover {
    background-color: #dc3545;
    transition: 1000ms;
    border-radius: 1rem;
}

.dropdown-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 15px 20px;
    color: black;
    border-bottom: 1px solid #80000d;
}

li:last-child .dropdown-item {
    border-bottom: none;
}

.navItem {
    color: white;
}

.navItem:hover {
    scale: 110%;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    color: #dc3545;
    transition: 1000ms;
}

.navbar-brand {
    color: white;
    font-weight: 700;
    line-height: 30px;
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
}

.navbar-brand span {    
    color: #dc3545;
}

.navbar-brand span:hover {    
    color: white;
    scale: 130%;
    transition: 1.5s;
}


.navbar-brand:hover {
    color: #80000d;
    scale: 130%;
    transition: 2s;
    rotate: 360deg;
}

.dropdown-toggle:after {
    color: #dc3545;
    scale: 175%;
    margin-left: 15px;
}

header .navbar-expand-lg .navbar-nav {
    column-gap: 30px;
}

.text-light {
    color: white;
}

.fw-regular {
    font-weight: 500;
}

.radius-10 {
    border-radius: 10px;
}

.btn-outline-danger {
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    border-color: white;
    transition: 1000ms;
    scale: 105%;
}

/* .login-btn:hover {
    color: black;
    background-color: #fff;
} */

/* Regular */
.btn-danger {
    border-color: #dc3545;
    background-color: #dc3545;
}

.btn-danger:hover {
    border-color: white;
    background-color: #dc3545;
    transition: 1000ms;
    scale: 105%;
}
/* Devin */
.btn-primary {
    border: 1px #fff solid;
    background-color: #0004ff00;
}

.btn-primary:hover {
    box-shadow: 0 4px 20px 0 #fff;
    background-color: #0004ff;
    transition: 1000ms;
    scale: 105%;
}
/* Fuzz */
.btn-success {
    border: 1px #fff solid;
    background-color: #00a70300;
}

.btn-success:hover {
    box-shadow: 0 4px 20px 0 #fff;
    background-color: #008402;
    transition: 1000ms;
    scale: 105%;
}

/* Tom */
.btn-warning {
    border: 1px #fff solid;
    background-color: #fdab2600;
    color: #fff;
}

.btn-warning:hover {
    box-shadow: 0 4px 20px 0 #fff;
    background-color: #ff9d00ae;
    transition: 1000ms;
    scale: 105%;
}
/* Header */
header.fixed-top {
    background-color: #000000;
    /* border-bottom: 1px white ridge; */
    box-shadow: 0 4px 20px 0 #dc3545;
}
/* Header CSS End */

/* Hero Banner Start */
.hero-banner {
    align-content: center;
    background-color: #4d000864;
    justify-content: center;
    padding: 120px 0 35px;
    height: 100vh;
}

.hero-banner h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 10px;
}

.hero-banner p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 37px;
}

.hero-banner img {
    border-radius: 50%;
    transition: 2s;
    border: 1px #fff solid;
}

.hero-banner img:hover {
    scale: 115%;
    box-shadow: 0 4px 20px 0 #dc3545;
    border-radius: 50%;
    transition: 2s;
    border: 3px #dc3545 solid;
}

.hero-banner a {
    padding: 20px 30px;
    line-height: 1;
}

.social-logos {
    background: linear-gradient(to bottom, #00a70300, rgb(32, 32, 32),  #00a70300);
    margin-top: 30px;
    padding: 44px 0;
}

.social-logos img {
    background-color: #dc3545;
    border-radius: 1rem;
}

.social-logos img:hover {
    box-shadow: 0 4px 20px 0 #fff;
    transition: 300ms;
    scale: 110%;
    border-radius: 1rem;
    border: 1px #fff solid;
}


/* Hero Banner End */

/* What We Do Start */
.what-we-do {
    padding: 65px 0;
    height: 120vh;
    padding-top: 150px;
}

.sub-heading{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 15px;
    color: #dc3545;
    text-transform: uppercase;
}

.main-heading {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 40px;
}

.what-we-do .boxes-wrapper {
    padding: 50px 50px 50px 30px;
    border-radius: 30px;
    transition: all 0.35s linear;
    background-color: rgb(32, 32, 32);
}

.what-we-do .boxes-wrapper:hover {
    box-shadow: 0 4px 20px 0 #dc3545;
}

.what-we-do .boxes-wrapper h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 15px;
}

.what-we-do .boxes-wrapper p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
}

.what-we-do .boxes-wrapper a {
    transition: all 0.35s linear;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.what-we-do .boxes-wrapper a:hover {
    color: black;
    background-color: white;
}

.what-we-do .boxes-wrapper a img {
    transition: all 0.35s linear;
}

/* What We Do End */




/* Our Team Start */
.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    /* background-color: rgb(32, 32, 32); */
    color: white;
}

#devin {
    /* margin-top: 200px;
    padding-top: 200px; */
    background: linear-gradient(to bottom, rgb(32, 32, 32), #0004ff23);
}

#fuzz {
    /* background-color: #00840226; */
    background: linear-gradient(to bottom, #0004ff23, #0084023a);
}

#tom {
    /* background-color: #0004ff19; */
    background: linear-gradient(to bottom, #0084023a, #ff9d0054);
}

.team-member .content {
    text-align: center;
}

.team-member header {
    margin-bottom: 20px;
}

.team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-image img {
    border-radius: 50%;
    margin-bottom: 20px;
    max-width: 150px; /* Adjust the max width */
    height: auto;
}

.team-info p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    max-width: 85%;
    text-align: left;
    padding: 15px;
}

.team-info ul {
    list-style: none;
    padding: 0;
}

.team-info li {
    margin-bottom: 10px;
}
/* Our Team End */


/* Footer Start */
.site-footer {
    padding: 75px 0 30px;
    background-color: #000000;
    box-shadow: 0 4px 35px 0 #dc3545;
}

.site-footer h2 {
    font-size: 39px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.site-footer h2 a {
    color: inherit;
    text-decoration: none;
}

.site-footer .social-icons {
    margin-top: 20px;
    column-gap: 15px;
}

.site-footer .social-icons li a {
    height: 41px;
    width: 41px;
    border-radius: 41px;
    background-color: #dc3545;
    color: #fff;
    font-size: 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.site-footer .social-icons li a i {
    line-height: 1;
}

.site-footer h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 25px
}

.site-footer .footer-menu {
    row-gap: 25px;
}

.site-footer .footer-menu li a{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: inherit;
    text-decoration: none;
}

.site-footer .copyright {
    margin: 70px 0 0;
}

/* Footer End */